
@{
    ViewBag.Title = "CarDetails";
}
<link src="/Content/ImageStyle.css" rel="stylesheet" />
<div ng-controller="CarDetailsController">
    <div class="row">
        <div class="make-title" ng-model="Car">
            <h2>{{ Car.Make.MakeName }}</h2>
        </div>
        <div class="make-title" ng-model="Car">
            <h4>{{ Car.Model.ModelName }} ({{ Car.Year }})</h4>
        </div>
        <a class="btn btn-primary" href="/Cars/CarLibrary">Return to Library</a>
    </div>
    <div class="row car-image image-size">
        <img class="image-size" src="{{ Car.Image.ImageSrc }}" />
    </div>
    <div class="row">
        <div class="col-md-6 details-table">
            <h2>Details</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                    
                        <th>Drive</th>
                        <th>Displacement</th>
                        <th>Engine</th>
                        <th>Horspower</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-model="Car">
                        <td>{{ Car.Model.Drive }}</td>
                        <td>{{ Car.Model.Displacement }}</td>
                        <td>{{ Car.Engine.EngineName }}</td>
                        <td>{{ Car.Model.HorsePower }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 performance-table">
            <h2>Performance</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>0-60</th>
                        <th>Top Speed</th>
                        <th>Quarter Mile</th>
                        <th>60-0</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-model="Car">
                        <td>{{ Car.Performance.ZeroToSixty }}</td>
                        <td>{{ Car.Performance.TopSpeed }}</td>
                        <td>{{ Car.Performance.QuarterMile }}</td>
                        <td>{{ Car.Performance.SixtyToZero }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
    var carsApp = angular.module("CarsApp", []);
</script>

<script>
    carsApp.factory('CarDetailsFactory', function ($http) {
        return {
            getCar: function (CarId, callback) {
                var url = "/Cars/GetCarById?id=" + CarId;
                $http({ method: 'GET', url: url }).then(function (response) {
                    callback(response);
                })
            }
        }
    })

    carsApp.controller('CarDetailsController', function (CarDetailsFactory, $scope) {
        $scope.Car = {};

        $scope.GetCarId = function () {
            var url = window.location.href;
            var urlArray = url.split('=');
            var CarId = urlArray[1];
            return CarId;
        }

        $scope.GetCar = function () {
            
            var CarId = $scope.GetCarId();
            CarDetailsFactory.getCar(CarId, $scope.GetCarCallback);
        }

        $scope.GetCarCallback = function (response) {
            $scope.Car = response.data;
        }
        $scope.GetCar();
    })
</script>