
@{
    ViewBag.Title = "CarLibrary";
}


<div ng-controller="LibraryCarsCtrl">
    <div class="row">
        <h2>Car Library</h2>
        <form class="form-group">
            <label class="control-label">Filter By Make</label>
            <select class="form-control" ng-options="make.MakeName for make in Makes | orderBy:'MakeName' track by make.MakeName" ng-model="Make" ng-change="SortByMake()"></select>
        </form>
            <button class="btn btn-primary" ng-click="GetAllCars()">View All Cars</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Drive</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="car in AllCars | orderBy:['Make.MakeName', 'Model.ModelName', 'Year']">
                    <td>{{ car.Make.MakeName }}</td>
                    <td>{{ car.Model.ModelName }}</td>
                    <td>{{ car.Year }}</td>
                    <td>{{ car.Model.Drive }}</td>
                    <td>
                        <a class="btn btn-primary" ng-href="/Cars/CarDetails?id={{ car.ID }}">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
    var carsApp = angular.module("CarsApp", []);
</script>

<script>
    carsApp.factory('LibraryCarsFactory', function ($http) {
        return {
            getAllCars: function (callback) {
                var url = "/Cars/GetAllCars";
                $http({ method: 'GET', url: url }).then(function (response) {
                    callback(response);
                });
            },

            createCar: function (NewCar, callback) {
                var url = "/Cars/CreateCar";
                $http({ method: 'POST', url: url, data: NewCar }).then(function (response) {
                    callback(response);
                })
            },

            getMakes: function (callback) {
                var url = "/Cars/GetMakes";
                $http({ method: 'GET', url: url }).then(function (response) {
                    callback(response);
                })
            },

            sortByMake: function (make, callback) {
                var url = "/Cars/SortByMake";
                $http({ method: 'POST', url: url, data: make }).then(function (response) {
                    callback(response);
                })
            },


        }
    });

    carsApp.controller('LibraryCarsCtrl', function(LibraryCarsFactory, $scope) {

        $scope.AllCars = [];
        $scope.Makes = [];
        $scope.Make = {};
   


        $scope.GetAllCars = function () {
            LibraryCarsFactory.getAllCars($scope.GetAllCarsCallback);
        }

        $scope.GetAllCarsCallback = function (response) {
            $scope.AllCars = response.data;
        }

        $scope.GetMakes = function () {
            LibraryCarsFactory.getMakes($scope.GetMakesCallback);
        }

        $scope.GetMakesCallback = function (response) {
            $scope.Makes = response.data;
        }

        $scope.SortByMake = function () {
            if ($scope.Make != null) {
                LibraryCarsFactory.sortByMake($scope.Make, $scope.SortByMakeCallback);
            }
            else {
                $scope.getAllCars();
            }
        }

        $scope.SortByMakeCallback = function (response) {
            $scope.AllCars = response.data;
        }






        $scope.GetAllCars();
        $scope.GetMakes();
    })

</script>
