
@{
    ViewBag.Title = "ManageCars";
}

<div ng-controller="ManageCarsCtrl">
    <div class="row">
        <h2>ManageCars</h2>
        <button class="btn btn-primary" ng-click="AddCarModal()">Add Car</button>
        <button class="btn btn-default" ng-click="EditMakesModal()">Edit Makes</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Drive</th>
                    <th>Engine</th>
                    <th>Details</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="car in AllCars | orderBy:['Make.MakeName', 'Model.ModelName', 'Year']">
                    <td>{{ car.Make.MakeName }}</td>
                    <td>{{ car.Model.ModelName }}</td>
                    <td>{{ car.Year }}</td>
                    <td>{{ car.Model.Drive }}</td>
                    <td>{{ car.Engine.EngineName }}</td>
                    <td>
                        <a class="btn btn-primary" ng-href="/Cars/CarDetails?id={{ car.ID }}">View</a>
                    </td>
                    <td>
                        <button class="btn btn-default" ng-click="EditCarModal(car)">Edit</button>
                    </td>
                    <td>
                        <button class="btn btn-default" ng-click="DeleteCarModal(car)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="modal fade" id="CreateCarModal" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="createCarModal">Add Car</h1>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">Make</label>
                            <select class="form-control" ng-options="make.MakeName for make in Makes | orderBy: 'MakeName' track by make.MakeName" id="newCarMake" ng-model="NewCar.Make"></select>
                            <label class="control-label">Model</label>
                            <input class="form-control" type="text" id="newCarModel" ng-model="NewCar.Model.ModelName" />
                            <label class="control-label">Year</label>
                            <input class="form-control" type="text" id="newCarYear" ng-model="NewCar.Year" />
                            <label class="control-label">Drive</label>
                            <input class="form-control" type="text" id="newCarDrive" ng-model="NewCar.Model.Drive" />
                            <label class="control-label">Engine Displacement</label>
                            <input class="form-control" type="text" id="newCarDisplacement" ng-model="NewCar.Model.Displacement"/>
                            <label class="control-label">Engine</label>
                            <select class="form-control" ng-options="engine.EngineName for engine in Engines track by engine.EngineName" ng-model="NewCar.Engine"></select>
                            <label class="control-label">Horsepower</label>
                            <input class="form-control" type="text" id="newCarHorsePower" ng-model="NewCar.Model.HorsePower" />
                            <label class="control-label">0-60</label>
                            <input class="form-control" type="text" id="newCarZeroToSixty" ng-model="NewCar.Performance.ZeroToSixty" />
                            <label class="control-label">Top Speed</label>
                            <input class="form-control" type="text" id="newCarTopSpeed" ng-model="NewCar.Performance.TopSpeed" />
                            <label class="control-label">60-0</label>
                            <input class="form-control" type="text" id="newCarSixtyToZero" ng-model="NewCar.Performance.SixtyToZero" />
                            <label class="control-label">Quarter Mile</label>
                            <input class="form-control" type="text" id="newCarQuarterMile" ng-model="NewCar.Performance.QuarterMile" />
                            <label class="control-label">Image</label>
                            <input class="form-control" type="text" id="newCarImage" ng-model="NewCar.Image.ImageSrc" />

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="CreateCar()">Add Car</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="EditCarModal" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="EditCarModal">Edit Car</h1>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">Make</label>
                            <select class="form-control" ng-options="make.MakeName for make in Makes | orderBy: 'MakeName' track by make.MakeName" id="newCarMake" ng-model="EditCar.Make"></select>
                            <label class="control-label">Model</label>
                            <input class="form-control" type="text" id="newCarModel" ng-model="EditCar.Model.ModelName" />
                            <label class="control-label">Year</label>
                            <input class="form-control" type="text" id="newCarYear" ng-model="EditCar.Year" />
                            <label class="control-label">Drive</label>
                            <input class="form-control" type="text" id="newCarDrive" ng-model="EditCar.Model.Drive" />
                            <label class="control-label">Engine Displacement</label>
                            <input class="form-control" type="text" id="newCarDisplacement" ng-model="EditCar.Model.Displacement" />
                            <label class="control-label">Engine</label>
                            <select class="form-control" ng-options="engine.EngineName for engine in Engines track by engine.EngineName" ng-model="EditCar.Engine"></select>
                            <label class="control-label">Horsepower</label>
                            <input class="form-control" type="text" id="newCarHorsePower" ng-model="EditCar.Model.HorsePower" />
                            <label class="control-label">0-60</label>
                            <input class="form-control" type="text" id="newCarZeroToSixty" ng-model="EditCar.Performance.ZeroToSixty" />
                            <label class="control-label">Top Speed</label>
                            <input class="form-control" type="text" id="newCarTopSpeed" ng-model="EditCar.Performance.TopSpeed" />
                            <label class="control-label">60-0</label>
                            <input class="form-control" type="text" id="newCarSixtyToZero" ng-model="EditCar.Performance.SixtyToZero" />
                            <label class="control-label">Quarter Mile</label>
                            <input class="form-control" type="text" id="newCarQuarterMile" ng-model="EditCar.Performance.QuarterMile" />
                            <label class="control-label">Image</label>
                            <input class="form-control" type="text" id="newCarImage" ng-model="EditCar.Image.ImageSrc" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="UpdateCar()">Save Changes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="DeleteCarModal" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="DeleteCarModal">Delete Car</h1>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this car? </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" ng-click="RemoveCar()">Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="EditMakesModal" tabindex="-1" role="dialog" aria-labelledby="example" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="EditMakesModal">EditMakes</h1>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tr ng-repeat="make in Makes">
                                <td>{{ make.MakeName }}</td>
                                <td>
                                    <button class="btn btn-danger" ng-click="DeleteMake(make)">Delete</button>
                                </td>
                            </tr>
                        </table>
                        <div class="form-group">
                            <label class="control-label">New Make</label>
                            <input class="form-control" ng-model="NewMake" />
                            <button class="btn btn-primary" ng-click="AddMake()">Add Make</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<script>
    var carsApp = angular.module("CarsApp", []);
</script>

<script>
    carsApp.factory('ManageCarsFactory', function ($http) {
        return {
            getAllCars: function (callback) {
                var url = "/Cars/GetAllCars";
                $http({ method: 'GET', url: url }).then(function (response) {
                    callback(response);
                });
            },

            createCar: function (NewCar, callback) {
                var url = "/Cars/CreateCar";
                $http({ method: 'POST', url: url, data: NewCar }).then(function (response) {
                    callback(response);
                })
            },

            getMakes: function (callback) {
                var url = "/Cars/GetMakes";
                $http({ method: 'GET', url: url }).then(function (response) {
                    callback(response);
                })
            },

            addMake: function (newMake, callback) {
                var url = "/Cars/AddMake";
                $http({ method: 'POST', url: url, data: newMake }).then(function (response) {
                    callback(response);
                })
            },

            deleteMake: function (makeToDelete, callback) {
                var url = "/Cars/DeleteMake";
                $http({ method: 'POST', url: url, data: makeToDelete }).then(function (response) {
                    callback(response);
                })
            },

            getEngines: function (callback) {
                var url = "/Cars/GetEngines";
                $http({ method: 'GET', url: url }).then(function (response) {
                    callback(response);
                })
            },

            updateCar: function (carToUpdate, callback) {
                var url = "/Cars/UpdateCar";
                debugger;
                $http({ method: 'POST', url: url, data: carToUpdate }).then(function (response) {
                    callback(response);
                })
            },

            deleteCar: function (carToDelete, callback) {
                var url = "/Cars/DeleteCar";
                $http({ method: 'POST', url: url, data: carToDelete }).then(function (response) {
                    callback(response);
                });
            },

            carDetails: function (car, callback) {
                var url = "/Cars/Details";
                $http({ method: 'POST', url: url, data: car }).then(function (response) {
                    callback(response);
                })
            }

           

            


        }
    });

    carsApp.controller('ManageCarsCtrl', function(ManageCarsFactory, $scope) {



        $scope.AllCars = [];
        $scope.NewCar = {};
        $scope.Makes = [];
        $scope.Engines = [];
        $scope.EditCar = {};
        $scope.DeleteCar = {};
        $scope.NewMake = "";



        $scope.GetAllCars = function () {
            ManageCarsFactory.getAllCars($scope.GetAllCarsCallback);
        }

        $scope.GetAllCarsCallback = function (response) {
            $scope.AllCars = response.data;
        }

        $scope.GetMakes = function () {
            ManageCarsFactory.getMakes($scope.GetMakesCallback);
        }

        $scope.GetMakesCallback = function (response) {
            $scope.Makes = response.data;
        }

        $scope.AddCarModal = function () {
            $('#CreateCarModal').modal('show');
        }

        $scope.CreateCar = function () {
            debugger;
            ManageCarsFactory.createCar($scope.NewCar, $scope.CreateCarCallback)
        }

        $scope.CreateCarCallback = function (response) {
            $('#CreateCarModal').modal('hide');
            $scope.GetAllCars();
        }

        $scope.GetEngines = function () {
            ManageCarsFactory.getEngines($scope.GetEnginesCallback);
        }

        $scope.GetEnginesCallback = function (response) {
            $scope.Engines = response.data;
        }

        $scope.EditCarModal = function (car) {
            $scope.EditCar = car;
            $('#EditCarModal').modal('show');
        }

        $scope.UpdateCar = function (carToEdit) {
            ManageCarsFactory.updateCar($scope.EditCar, $scope.UpdateCarCallback);
        }

        $scope.UpdateCarCallback = function (response) {
            $('#EditCarModal').modal('hide');
            $scope.GetAllCars();
        }

        $scope.DeleteCarModal = function (car) {

            $scope.DeleteCar = car;
            $('#DeleteCarModal').modal('show');
        }

        $scope.RemoveCar = function () {
            ManageCarsFactory.deleteCar($scope.DeleteCar, $scope.RemoveCarCallback);
        }

        $scope.RemoveCarCallback = function (response) {
            $('#DeleteCarModal').modal('hide');
            $scope.GetAllCars();
        }

        $scope.EditMakesModal = function () {
            $('#EditMakesModal').modal('show');
        }

        $scope.AddMake = function () {
            ManageCarsFactory.addMake($scope.NewMake, $scope.AddMakeCallback)
        }

        $scope.AddMakeCallback = function (response) {
            $('#EditMakesModal').modal('hide');
            $scope.GetMakes();
        }

        $scope.DeleteMake = function (make) {
            ManageCarsFactory.deleteMake(make, $scope.DeleteMakeCallback);
        }

        $scope.DeleteMakeCallback = function (response) {
            $scope.GetMakes();
        }

        $scope.CarDetails = function (car) {
            ManageCarsFactory.carDetails(car, $scope.CarDetailsCallback);
        }

        $scope.CarDetailsCallback = function (response) {

        }


        $scope.GetAllCars();
        $scope.GetEngines();
        $scope.GetMakes();

    });

</script>